networks:
  app-net:
    driver: bridge

services:
  api:
    build: .
    ports:
      - "8081:8080"
    depends_on:
      - minio
    environment:
      MINIO_ENDPOINT: "minio:9000"
      MINIO_ACCESS_KEY: "minioadmin"
      MINIO_SECRET_KEY: "minioadmin"
      MINIO_BUCKET: "go-microservice"
    networks:
      - app-net


  minio:
    image: minio/minio
    command: server /data --console-address ":9090"
    environment:
      MINIO_ROOT_USER: "minioadmin"
      MINIO_ROOT_PASSWORD: "minioadmin"
    ports:
      - "9001:9000"
      - "9091:9090"
    volumes:
      - minio-data:/data
    networks:
      - app-net

volumes:
  minio-data: {}
